body
{
	font-family: arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.5;
	/*
	we can also do 
	font: 15px/1.5 Arial, Heveletica, sans-serif;
	*/
	margin:0;
	padding:0;
	background-color: #f4f4f4;
}

/*Global*/
.container
{
width: 80%;
overflow: hidden;
margin:auto;
}

/*Header*/
header
{
	color:#ffffff;
	background: #35424a;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}


header a 
{
	color: #ffffff;
	text-decoration: blink;
	text-transform: uppercase;
	font-size: 16px;
}

header ul
{
	padding: 0;
	margin: 0;
}
header li
{
	float:left;
	display: inline;
	padding: 0 20px 0 20px;/*top right bottom left*/	
}

header #branding
{
	float:left;
}

header #branding h1
{
	margin: 0;
}



header nav
{
	margin-top: 10px;
	float : right;
}